
.btn{

    margin: 50px;
    padding: 10px;
    width: 15%;
    background: lightblue;

}

.btn #userb{
    text-decoration: none; 
}

.tbl01{
    
    margin: 50;
    background-color: darkcyan;
    color: #fff;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    width: 100%;


}

.btn02{

    margin: 50px;
    padding: 10px;
    width: 15%;
    background: lightseagreen;

}

.btn02 #btn2{
    text-decoration: none; 
}

.btn03{

    margin: 50px;
    padding: 10px;
    width: 15%;
    background: lightcoral;

}

.btn03 #btn3{
    text-decoration: none; 
}

.btn:hover{
    background: lightskyblue;

}

.btn02:hover{
    background: rgb(45, 155, 115);

}

.btn03:hover{
    background: rgb(223, 93, 81);

}

